
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> 
    <style>

        body {
          font-family: 'Open Sans', sans-serif;
          background-image: url('static/bg1.avif'); 
          background-size: cover;
          }

        
        #bar a
        {
            color: blue;
        }

        
        h1 {
          text-align: center;
          margin-bottom: 30px;
          font-size: 60px;
          color: white;
          
        }          

    </style>
</head>
<body>
    <nav class="navbar bg-light navbar-expand-lg navbar-red px-10 px-lg-5 py-3 py-lg-0">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="font-size: 30px; margin-right: 50px;">
                <div class="navbar-nav ms-auto" id="bar">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/predict">Prediction</a>
                    <a class="nav-link" href="/result">Result</a>
                    <a class="nav-link" href="/performance">Performance</a>
                    <!--<a class="nav-link" href="/login">Login</a>-->
                </div>
            </div>
        </div>
    </nav>
    <form action="/">
  <section class="about_section layout_padding" style="margin: 100px">
    <div class="container  ">
      <div class="heading_container heading_center">
     <h1 style="margin: 200px; margin-top: 50px; font-weight: bold;"><b><i>Url Attacks</i></b></h1>
      </form>    
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>